---
import {type Page, getCollection} from 'astro:content';
import RootLayout from "@/layouts/RootLayout.astro";

interface Props {
    page: Page;
}

export async function getStaticPaths({paginate}) {
    let posts = await getCollection('blog', post => {
        return !post.data.draft;
    })
    posts = posts.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());
    return paginate(posts, {pageSize: 5});
}

const {page} = Astro.props;
---

<RootLayout title="Blog">
    {page.currentPage}
    <p>More to see here soon!</p>
</RootLayout>
