---
import FacebookIcon from "../icons/Facebook.astro";

const URL = `https://www.facebook.com/sharer/sharer.php?u=${Astro.request.url}`;
---

<style>
  a {
    margin-right: 10px;
  }
</style>
<a
  class="social-share-btn"
  target="_blank"
  href={URL}
  rel="noopener noreferrer"
>
  <FacebookIcon />
</a>

<style>
  svg:hover {
    fill: #1877f2;
  }
</style>
