---
import Card from "@/components/Card.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const projectsData = [
    {
        title: 'A Search Engine',
        description: `What if you could look up any information in the world? Webpages, images, videos
    and more. Google has many features to help you find exactly what you're looking
    for.`,
        imgSrc: '/static/images/google.png',
        href: 'https://www.google.com',
    },
    {
        title: 'The Time Machine',
        description: `Imagine being able to travel back in time or to the future. Simple turn the knob
    to the desired date and press "Go". No more worrying about lost keys or
    forgotten headphones with this simple yet affordable solution.`,
        imgSrc: '/static/images/time-machine.jpg',
        href: '/blog/the-time-machine',
    },
]
---

<RootLayout title="Projects">
    <div class="divide-y divide-gray-200 dark:divide-gray-700">
        <div class="space-y-2 pb-8 pt-6 md:space-y-5">
            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
                Projects
            </h1>
            <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
                Showcase your projects with a hero image (16 x 9)
            </p>
        </div>
        <div class="container py-12">
            <div class="-m-4 flex flex-wrap">
                {projectsData.map((d) => (
                        <Card title={d.title} description={d.description} imgSrc={d.imgSrc} href={d.href}/>
                ))}
            </div>
        </div>
    </div>
</RootLayout>
