---
type Props = {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<details class:list={className} class="prose dark:prose-invert block w-full">
    <summary class="text-base cursor-pointer p-4">{title}</summary>
    <div class="pb-4">
        <slot />
    </div>
</details>