---
import {SITE_METADATA, NAVIGATION} from '@/consts';
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
import MobileNav from "./MobileNav.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="flex items-center justify-between py-10">
    <div>
        <a href="/" aria-label={SITE_METADATA.headerTitle}>
            <div class="flex items-center justify-between">
                <div class="mr-3">
                    <Logo/>
                </div>
                {typeof SITE_METADATA.headerTitle === 'string' ? (
                        <div class="hidden h-6 text-2xl font-semibold sm:block">
                            {SITE_METADATA.headerTitle}
                        </div>
                ) : (
                    SITE_METADATA.headerTitle
                )}
            </div>
        </a>
    </div>
    <div class="flex items-center leading-5 space-x-4 sm:space-x-6">
        {NAVIGATION
            .filter((link) => link.href !== '/')
            .map((link) => (
                    <HeaderLink
                            href={link.href}
                            class="hidden sm:block font-medium text-gray-900 dark:text-gray-100"
                    >
                        {link.title}
                    </HeaderLink>
            ))}

        <!--TODO: add theme button-->
        <!--<SearchButton />-->
        <ThemeSwitcher />
        <MobileNav />
    </div>
</header>
