---
import type { Page } from "astro";
import Link from "./Link.astro";
import { useTranslations } from "@/i18n";

const t = useTranslations();

type Props = {
  page: Page;
};

const {
  page: {
    currentPage,
    lastPage,
    url: { prev, next },
  },
} = Astro.props;
---

<div class="space-y-2 pb-8 pt-6 md:space-y-5">
  <nav class="flex justify-between">
    {
      !prev && (
        <button class="cursor-auto disabled:opacity-50" disabled>
          {t("components.pagination.previous")}
        </button>
      )
    }
    {
      prev && (
        <Link href={prev} rel="prev">
          {t("components.pagination.previous")}
        </Link>
      )
    }
    <span>
      {currentPage} of {lastPage}
    </span>
    {
      !next && (
        <button class="cursor-auto disabled:opacity-50" disabled>
          {t("components.pagination.next")}
        </button>
      )
    }
    {
      next && (
        <Link href={next} rel="next">
          {t("components.pagination.next")}
        </Link>
      )
    }
  </nav>
</div>
