---
import Mail from './icons/Mail.astro'
import Github from './icons/Github.astro'
import Facebook from './icons/Facebook.astro'
import Youtube from './icons/Youtube.astro'
import Linkedin from './icons/Linkedin.astro'
import Twitter from './icons/Twitter.astro'
import Mastodon from './icons/Mastodon.astro'

const components = {
    mail: Mail,
    github: Github,
    facebook: Facebook,
    youtube: Youtube,
    linkedin: Linkedin,
    twitter: Twitter,
    mastodon: Mastodon,
}

type Props = {
    kind: keyof typeof components
    href: string | undefined
    size?: number
}

const {kind, href, size = 8} = Astro.props
const SocialSvg = components[kind]
---


<a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank" rel="noopener noreferrer" href={href}>
    <span class="sr-only">{kind}</span>
    <SocialSvg
            class={`fill-current text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400 h-${size} w-${size}`}/>
</a>
