---
import { useTranslations } from "@/i18n";
import FacebookShareButton from "./social-buttons/FacebookShareButton.astro";
import LinkedInShareButton from "./social-buttons/LinkedInShareButton.astro";
import RedditShareButton from "./social-buttons/RedditShareButton.astro";
import TwitterShareButton from "./social-buttons/TwitterShareButton.astro";

const t = useTranslations();

type Props = {
  title: string;
  description: string;
  via?: string;
  class?: string;
};

const { title, description, via } = Astro.props;
---

<div class="flex gap-2" class:list={Astro.props.class}>
  <FacebookShareButton />
  <LinkedInShareButton />
  <RedditShareButton {title} />
  <TwitterShareButton {description} {via} />
  <span>{t("components.socialShareButtons.sharing")}</span>
</div>

<style>
  :global(.social-share-btn) {
    width: 24px;
    height: 24px;
  }
</style>
